.app-info {
    padding: 25px;
    background-color: #3d5a80;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0,0,0, .15);
    color: #fff;
}

.lemon {
    color: yellow;
}

.number-color {
    color: yellow;
}

/*Media*/
@media (max-width: 500px) {
    .app-info h1 {
        font-size: 25px;
    }

    .app-info h2 {
        font-size: 20px;
    }
}